USE [master]
GO
/****** Object:  Database [HRDatabase]    Script Date: 02.04.2021 17:48:58 ******/
CREATE DATABASE [HRDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRDatabase', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.CHEBUNATOR\MSSQL\DATA\HRDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRDatabase_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.CHEBUNATOR\MSSQL\DATA\HRDatabase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY$CHEBUNATOR]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY$CHEBUNATOR] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQL$CHEBUNATOR]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [NT Service\MSSQL$CHEBUNATOR] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\СИСТЕМА]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [NT AUTHORITY\СИСТЕМА] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [HENTAI-MACHINE\Computer]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [HENTAI-MACHINE\Computer] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [BUILTIN\Пользователи]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [BUILTIN\Пользователи] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'/P/0I+T0NWe6MgT1gHX6BR6TkwUmRKFkIpkcd/tw1Uc=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 02.04.2021 17:48:58 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'7WC/dFDCq9Bmp5nAxGDjg1XTSrYSLNClOobLPXojjjA=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQL$CHEBUNATOR]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [HENTAI-MACHINE\Computer]
GO
USE [HRDatabase]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 02.04.2021 17:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
	[Children] [int] NULL,
	[SummaryId] [int] NULL,
	[PositionId] [int] NULL,
	[StatusId] [int] NULL,
	[Photo] [varbinary](max) NULL,
	[Salary] [money] NULL,
	[Premium] [money] NULL,
	[Birthday] [date] NULL,
 CONSTRAINT [PK__Employee__7AD04F11280D70F0] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Position]    Script Date: 02.04.2021 17:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PostitionName] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK__Position__60BB9A79A03FC8FC] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 02.04.2021 17:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK__Statuses__C8EE2063D047380C] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Summary]    Script Date: 02.04.2021 17:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Summary](
	[SummaryId] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[ContactInfo] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Experience] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Education] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Skills] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Recommendations] [nvarchar](max) COLLATE Cyrillic_General_CI_AS NULL,
	[Fullname] [nvarchar](100) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK__Summary__DAB10E2FA7EEC8CF] PRIMARY KEY CLUSTERED 
(
	[SummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [PostitionName]) VALUES (1, N'Разработчик')
INSERT [dbo].[Position] ([PositionId], [PostitionName]) VALUES (2, N'Уборщик')
INSERT [dbo].[Position] ([PositionId], [PostitionName]) VALUES (3, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusId], [StatusName]) VALUES (1, N'Принят')
INSERT [dbo].[Statuses] ([StatusId], [StatusName]) VALUES (2, N'Не принят')
INSERT [dbo].[Statuses] ([StatusId], [StatusName]) VALUES (3, N'Испытательный срок')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Summary] ON 

INSERT [dbo].[Summary] ([SummaryId], [Position], [ContactInfo], [Experience], [Education], [Skills], [Recommendations], [Fullname]) VALUES (8, N'Уборщик', N'gaysex.com, bongocums.cum', N'artist. A KPI performance artist', N'126 ЭТО КАК 121 ТОЛЬКО КРУЧЕ, ТАМ ФИЗИКА ЕСТЬ', N'ИГРАЮ В РАДУГУ', N'Обратитесь к врачу', N'ВлаDick Cumчук')
INSERT [dbo].[Summary] ([SummaryId], [Position], [ContactInfo], [Experience], [Education], [Skills], [Recommendations], [Fullname]) VALUES (9, N'Dungeon master', N'со мной можно связатся через fucking slaves', N'Босом оф зе джим', N'State University of Telecommunication', N'фистинг-эйнал, джеркингоффинг, сваловинг, велоспорт', N'Олд кукОлд', N'Женя Фистинг-Эйнал')
INSERT [dbo].[Summary] ([SummaryId], [Position], [ContactInfo], [Experience], [Education], [Skills], [Recommendations], [Fullname]) VALUES (10, N'Уборщик', N'Пещера №2', N'Есть опыт работы в чужих рудниках', N'Учился в школе №dungeon', N'Делаю все что угодно за 300 бакс', N'Люблю кожаные приколы и латексные штуки', N'Иван Темно-Пещерный')
SET IDENTITY_INSERT [dbo].[Summary] OFF
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__Child__4316F928]  DEFAULT ((0)) FOR [Children]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__Salar__47DBAE45]  DEFAULT ((0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF__Employees__Premi__49C3F6B7]  DEFAULT ((0)) FOR [Premium]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Posit__44FF419A] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Posit__44FF419A]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Statu__45F365D3] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Statu__45F365D3]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__Summa__440B1D61] FOREIGN KEY([SummaryId])
REFERENCES [dbo].[Summary] ([SummaryId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__Summa__440B1D61]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK__Employees__Premi__48CFD27E] CHECK  (([Premium]>=(0)))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK__Employees__Premi__48CFD27E]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK__Employees__Salar__46E78A0C] CHECK  (([Salary]>=(0)))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK__Employees__Salar__46E78A0C]
GO
/****** Object:  Statistic [_WA_Sys_00000002_412EB0B6]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_00000002_412EB0B6] ON [dbo].[Employees]([Fullname]) WITH STATS_STREAM = 0x0100000001000000000000000000000039B9B54A0000000063020000000000002302000000000000E702FFFFE7000000C80000000000000015D00000A102000007000000321F3B01EFAC000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000184200004040000000000000184200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000045000000000000009F00000000000000A700000000000000AF0000000000000008000000000000003000100000004040000000000000803F04000001003D006200690062006100200062006900620075006E0020006200690062006F007600690063006800FF0100000000000000030000000100000028000000280000000000000000000000130000006200690062006100200062006900620075006E0020006200690062006F00760069006300680002000000400000000003130000000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_412EB0B6]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_00000004_412EB0B6] ON [dbo].[Employees]([SummaryId]) WITH STATS_STREAM = 0x010000000100000000000000000000009959C4BC00000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000551F5701FBAC000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000000040000000000000803F0200000004000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_412EB0B6]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_00000005_412EB0B6] ON [dbo].[Employees]([PositionId]) WITH STATS_STREAM = 0x0100000001000000000000000000000090C0BB0000000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000E5CF5C01FAAC000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000ABAAAA3F0000404000000040ABAAAA3F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0200000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_412EB0B6]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_00000006_412EB0B6] ON [dbo].[Employees]([StatusId]) WITH STATS_STREAM = 0x01000000010000000000000000000000B54AE03D00000000DB010000000000009B01000000000000380200003800000004000A000000000000000000000000000700000012C07901FBAC000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001400000000000040000000400000803F000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000002000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_412EB0B6]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_0000000A_412EB0B6] ON [dbo].[Employees]([Birthday]) WITH STATS_STREAM = 0x01000000010000000000000000000000DEA1569B00000000B401000000000000740100000000000028028F5A2800000003000A000000000000000000000000000700000000D24E01F9AC000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000013000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100400000000000000000000000000000800000000000000100000000000000005000000000000000000000000000000
GO
/****** Object:  Statistic [PK__Employee__7AD04F11280D70F0]    Script Date: 02.04.2021 17:48:59 ******/
UPDATE STATISTICS [dbo].[Employees]([PK__Employee__7AD04F11280D70F0]) WITH STATS_STREAM = 0x01000000010000000000000000000000E3A90B180000000040000000000000000000000000000000380300003800000004000A000000000000000000A1020000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 02.04.2021 17:48:59 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[Position]([PostitionName]) WITH STATS_STREAM = 0x01000000010000000000000000000000E21DDA0000000000CB020000000000008B02000000000000E7020000E7000000FFFF00000000000015D00000000000000700000051004001EFAC00000300000000000000030000000000000000000000ABAAAA3E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000003000000010000001000000000009041000040400000000000009041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000930000000000000007010000000000000F010000000000001701000000000000180000000000000041000000000000006E00000000000000300010000000803F000000000000803F04000001002900110443044504330430043B04420435044004300010000000803F000000000000803F04000001002D002004300437044004300431043E044204470438043A04300010000000803F000000000000803F04000001002500230431043E044004490438043A04FF01000000000000000300000003000000280000002800000000000000000000001B000000110443044504330430043B044204350440042004300437044004300431043E044204470438043A04230431043E044004490438043A040400000040000000008109000000810B09000001071400000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK__Position__60BB9A79A03FC8FC]    Script Date: 02.04.2021 17:48:59 ******/
UPDATE STATISTICS [dbo].[Position]([PK__Position__60BB9A79A03FC8FC]) WITH STATS_STREAM = 0x010000000100000000000000000000004DA13B81000000005702000000000000170200000000000038038F5A3800000004000A000000000000000000000000000700000011C07901FBAC0000060000000000000006000000000000000000803FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000C04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D000000000000008400000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F0A000000040000100014000000803F000000000000803F14000000040000100014000000803F000000000000803F1600000004000006000000000000000000000000000000, ROWCOUNT = 9, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__Statuses__C8EE2063D047380C]    Script Date: 02.04.2021 17:48:59 ******/
UPDATE STATISTICS [dbo].[Statuses]([PK__Statuses__C8EE2063D047380C]) WITH STATS_STREAM = 0x010000000100000000000000000000004C6257A7000000001902000000000000D901000000000000380300003800000004000A000000000000000000A10200000700000012C07901FBAC0000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F0400000004000004000000000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__Summary__DAB10E2FA7EEC8CF]    Script Date: 02.04.2021 17:48:59 ******/
UPDATE STATISTICS [dbo].[Summary]([PK__Summary__DAB10E2FA7EEC8CF]) WITH STATS_STREAM = 0x0100000001000000000000000000000050FE913F00000000FA01000000000000BA0100000000000038038F5A3800000004000A00000000000000000000000000070000004A4D4C01FBAC000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
USE [master]
GO
